*{box-sizing: border-box;}
.shapecontainer{
    background-color:brown;
    border: solid darkblue 1px;
    width: 500px;
    margin: auto;
}

.shape, .rectangle, .circle, .square{
    background-color:cornflowerblue;
    width: 200px;
    height: 200px;
    margin: 2rem auto;
    color:whitesmoke;
    font-size: 2rem;
}

.btnSquare, .btnRectangle, .btnCircle{
    background-color:darkolivegreen;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    color: whitesmoke;
}
.btnSquare:hover, .btnRectangle:hover, .btnCircle:hover{
    font-weight: bolder;
    background-color: darkslateblue;
    cursor: pointer;
}

.rectangle{
    width: 300px;
    background-color: crimson;
}
.circle{
    width: 200px;
    background-color: dodgerblue;
    border-radius: 50%;
    margin: auto;
}
.square{
    width: 200px;
    background-color: olive;
}